
*.xml
use cases/.DS_Store
*.lck
*.bak_000f
*.bak_002d
*.bak_001d
*.bak_003d
*.bak_004d
*.bak_005d
*.bak_006d
*.bak_007d
.DS_Store
*.bak_008d
/.metadata/
*.xml
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
*.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_1
*.lock
*.properties
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_2
*.class
*.class
*.class
